@use "/src/style/mixin";
@use "/src/style/var";

.home {
    padding-top: 16rem;
    padding-bottom: 16rem;
}

.home-title {
    text-align: center;
    font-family: var.$font-title;
    font-size: var.$font-size-h1;
    margin-bottom: 30px;
}

.home-text {
    text-align: left;
    font-family: var.$font-text;
    font-size: var.$font-size-text;
    margin-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
}


.wave-emoji {
    display: inline-block;
    animation: wave-natural 2.8s ease-in-out infinite;
    transform-origin: 55% 75%; // pivot au poignet pour effet réaliste
}

@keyframes wave-natural {
    0%, 60%, 100% { 
        transform: rotate(0deg); 
    }
    10%, 30%, 50% { 
        transform: rotate(15deg); 
    }
    20%, 40% { 
        transform: rotate(-10deg); 
    }
}

@include mixin.desktop {
    .home {
        padding-top: 20rem;
        padding-bottom: 20rem;
    }
    .home-text {
        padding-left: 30px;
        padding-right: 30px;
        font-size: 2rem;
    }

}

@media (max-width: 320px) {
    .home-title {
        padding-left: 5px;
        padding-right: 5px;
    }
    .home-text {
        padding-left: 10px;
        padding-right: 10px;
    }
}

