@use "/src/style/mixin";
@use "/src/style/var";

.home {
    text-align: center;
    padding-top: 18.75rem;
    padding-bottom: 18.75rem;
}

.home-title {
    font-family: var.$font-title;
    font-size: var.$font-size-h1;
    margin-bottom: 30px;
}

.home-text {
    font-family: var.$font-text;
    font-size: var.$font-size-text;
    margin-top: 30px;
}

