@use "/src/style/mixin";
@use "/src/style/var";

.header {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    padding: 10px 20px; 
}


.header-logo {
    height: 100px; 
    width: 100px;
    border-radius: 50%; 
    object-fit: cover; 
}


.header-nav ul {
    list-style: none;
    display: flex;
    gap: 20px; 
    margin: 0;
    padding: 0;
}

.header-nav a {
    text-decoration: none;
    color: var.$font-color;
    font-size:var.$font-size-link;
}
