.App {
    display: flex;
    flex-direction: column;

    /*garantit que le conteneur prend toujours au moins la hauteur 
  totale de la fenêtre du navigateur*/
    min-height: 100vh;
}


body {
  background-color: #C59165;
  
}

main {
  flex : 1;
}





