// Les polices
$font-title: "Roboto Serif" serif; // font title
$font-text: "Inria Serif", serif; // font text



// Tailles de police
$font-size-text: 1.5rem; // texte
$font-size-link: 2rem; // liens
$font-size-h1: 3rem;   // titres H1

//Couleur
$font-color: #000000;


$breakpoint-desktop: 768px; 