// Les polices
$font-main: "Roboto Serif"; // font title
$font-alt: "Inria Serif"; // font text



// Tailles de police
$font-size-base: 1rem; // texte
$font-size-link: 2rem; // liens
$font-size-h1: 3rem;   // titres H1

//Couleur
$font-color: #000000;


$breakpoint-desktop: 768px; 