@use "/src/style/mixin";
@use "/src/style/var";

.contact-container {
    text-align: center;
    padding-top: 18.75rem;
    padding-bottom: 18.75rem;
}

.contact-container h1 {
    font-family: var.$font-title;
    font-size: var.$font-size-h1;
}

.contact-title {
    display: inline-flex;
    align-items: center;
    gap: 2rem; // espace entre l’icône et le texte
    font-family: var.$font-title;
    font-size: var.$font-size-h1;
}

.malette-icon {
    font-size: 3rem; 
    padding-bottom: 10px;
}


.links-container {
    display: flex;
    justify-content: center;
    gap: 3rem;
    flex-wrap: wrap;
    padding-top: 50px;
}

.links-container a {
    color: var.$font-color;
    font-size: var.$font-size-link;
    text-decoration: none;
    
    // Ajout pour les icônes
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.links-container a .icon {
    font-size: 1.8em;
    transition: transform 0.3s ease;
}


.links-container a:hover .icon {
    transform: scale(1.15);
}

@include mixin.desktop {
    .contact-container {
    padding-top: 25rem;
    padding-bottom: 25rem;
    }
}