@use "/src/style/mixin";
@use "/src/style/var";

.footer {
    font-family: var.$font-text;
    text-align: center; 
    padding: 10px;
    font-size: var.$font-size-text;
    
}

@include mixin.desktop {
    .footer {
    font-size: 2rem;
    }
}

